# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
browser.json

# YTMusic cache directory
yt_cache/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# misc
.github
search_overrides.json
